@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kode+Mono:wght@400..700&display=swap');
@font-face {
    font-family: "Square Sans Serif";
    src: url('./fonts/square-sans-serif-7.regular-webfont.woff');
    src: url('./fonts/square-sans-serif-7.regular-webfont.woff2');
}

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #424549;
    --discord-purple: #7289da;
    --grey-text: #939699;
    --font: "Orbitron", sans-serif;
    --font2: "Square Sans Serif", "Orbitron", sans-serif;
    --mono-font: "DM Mono", monospace;
}

body {
    background-color: var(--bg-color);
}

.nav-container {
    /* border: 1px solid red; */
    border-bottom: 1px solid var(--grey-text);
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin: 0 auto;
}

.nav-container a {
    text-decoration: none;
    font-family: var(--mono-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--grey-text);
}

.nav-container a:hover {
    text-decoration: underline;
}

.nav-container a.active {
    color: var(--discord-purple);
    text-decoration: underline;
}

.clock-container {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 400px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.utc-time {
    padding: 10px;
}

.clock-container p {
    /* border: 1px solid red; */

    font-size: 50px;
    color: var(--discord-purple);
    font-family: var(--mono-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.clock-container .utc-time {
    color: var(--grey-text);
    font-size: 15px;
}

.dad-container {
    width: 100%;
}

.skycard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skycard {
    /* border: 1px solid red; */
    padding: 50px;
}

.skycard img {
    width: 450px;
    border-radius: 10px;
}

@media screen and (max-width: 414px){
    .skycard img {
        width: 350px;
    }
}

.skycard .update-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.update-container {
    /* border: 1px solid red; */
    padding: 5px;
}

.update-text {
    color: var(--grey-text);
    font-family: var(--mono-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.signature-container {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 250px;
    padding: 30px;
}

.signature {
    /* border: 1px solid red; */
    color: var(--grey-text);
    font-family: var(--mono-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.signature a {
    color: var(--discord-purple);
    text-decoration: none;
}

.signature a:hover {
    text-decoration: underline;
}